<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commonSetting :: head}">
</head>
<body>
<div class="mt-3 ms-2" id="passwordPopup">
    <div class="row g-2 align-items-center font-size-middle">
        <div class="col-auto">
            <label for="inputPassword1" class="col-form-label fix-label-width" >비밀번호 입력: </label>
        </div>
        <div class="col-auto">
            <input  type="password" id="inputPassword1"class="form-control">
        </div>
    </div>

    <div class="row g-2 align-items-center font-size-middle">
        <div class="col-auto">
            <label for="inputPassword2" class="col-form-label fix-label-width">비밀번호 확인: </label>
        </div>
        <div class="col-auto">
            <input  type="password" id="inputPassword2"class="form-control">
        </div>
    </div>
    <div class="d-flex flex-row-reverse mt-2">
        <button class="btn btn-dark" id="changePasswordButton">비밀번호 변경</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var password = document.getElementById('inputPassword1');
        var confirmPassword = document.getElementById('inputPassword2');
        var changePasswordButton = document.getElementById('changePasswordButton');

        function validatePassword() {
            if(password.value === confirmPassword.value) {
                password.classList.remove('is-invalid');
                confirmPassword.classList.remove('is-invalid');
                password.classList.add('is-valid');
                confirmPassword.classList.add('is-valid');
            } else {
                password.classList.remove('is-valid');
                confirmPassword.classList.remove('is-valid');
                password.classList.add('is-invalid');
                confirmPassword.classList.add('is-invalid');
            }
        }

        password.onkeyup = validatePassword;
        confirmPassword.onkeyup = validatePassword;

        changePasswordButton.addEventListener('click', function() {
            if(password.value === confirmPassword.value) {
                fetch('/changePassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json',
                    },
                    body: JSON.stringify({
                        password: password.value,
                        confirmPassword: confirmPassword.value
                    }),
                })
                .then(response => {
                    if(response.ok){
                        return response.text();
                    }
                    throw new Error("network error");
                })
                .then( ()=> {
                    alert('비밀번호 변경 완료');
                    window.close();
                })
                .catch(error => {
                    alert('비밀번호 변경 실패');
                    console.error(error);
                });
            } else {
                alert('입력한 비밀번호가 서로 다릅니다');
            }
        });
    });



</script>

</body>
</html>