<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commonSetting :: head}">
    </head>

    <body>
        <div class="d-flex full-size">
            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="full-size">
                <div class="ms-5 mt-5 fix-width-long">
                    <div id='calendar'></div>
                </div>
                <div class="ms-5 mt-5">
                    <span class="font-size-big">참여할 이벤트</span>
                    <table class="table fix-table">
                        <thead>
                            <tr class="table-dark">
                                <th>팀명</th>
                                <th>이벤트</th>
                                <th>시간</th>
                                <th>장소</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.isEmpty(userJoinEvents)}">
                                <td>참여할 이벤트가 없습니다</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="point"  th:each="joinEvent : ${userJoinEvents}" th:data-team-id="${joinEvent.teamId}" th:data-event-id="${joinEvent.eventId}" onclick="goToEventPage(this)">
                                <td th:text="${joinEvent.teamName}"></td>
                                <td th:text="${joinEvent.eventName}"></td>
                                <td th:text="${#temporals.format(joinEvent.eventStart, 'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${joinEvent.eventPlace}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ms-5 mt-5">
                    <span class="font-size-big">새로 등록된 이벤트</span>
                    <table class="table fix-table">
                        <thead>
                            <tr class="table-dark">
                                <th>팀명</th>
                                <th>이벤트</th>
                                <th>시간</th>
                                <th>장소</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(newEvents)}">
                            <td>새로 등록된 이벤트가 없습니다</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                            <tr class="point" th:each="newEvent : ${newEvents}" th:data-team-id="${newEvent.teamId}" th:data-event-id="${newEvent.eventId}" onclick="goToEventPage(this)">
                                <td th:text="${newEvent.teamName}"></td>
                                <td th:text="${newEvent.eventName}"></td>
                                <td th:text="${#temporals.format(newEvent.eventStart, 'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${newEvent.eventPlace}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mt-5 ms-5">
                    <span class="font-size-big">가입한 팀</span>
                    <table class="table fix-table">
                        <thead>
                            <tr class="table-dark">
                                <th>팀명</th>
                                <th>팀 설명</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(joinTeams)}">
                            <td>가입한 팀이 없습니다</td>
                            <td></td>
                        </tr>
                            <tr class="point"  th:each="team : ${joinTeams}" th:data-team-id="${team.teamId}" onclick="goToTeamPage(this)">
                                <td th:text="${team.teamName}"></td>
                                <td th:text="${team.teamDescription}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div th:replace="~{fragments/common :: footer}"></div>
            </main>

        </div>

        <script th:inline="javascript">
            function goToTeamPage(element) {
                var teamId = element.getAttribute('data-team-id');
                window.location.href = '/team/' + teamId;
            }

            function goToEventPage(element) {
                var teamId = element.getAttribute('data-team-id');
                var eventId = element.getAttribute('data-event-id');
                window.location.href='/team/' + teamId +'/event?eventId=' + eventId;
            }
        </script>
        <script th:replace="~{fragments/commonSetting :: boots-js}"></script>
        <script th:replace="~{fragments/commonSetting :: main-cal}"></script>
    </body>

</html>