<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commonSetting :: head}">
    </head>

    <body>
        <div class="d-flex full-size">
            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="full-size">
                <div class="mt-5 ms-5">
                    <a class="font-size-big font-fix-black" th:text="${teamName}" th:href="@{/team/{teamId}(teamId = ${teamId})}">
                    </a>
                    <div>
                        <span><a class="btn btn-secondary" th:href="@{/team/{teamId}/teamManage(teamId=${teamId})}">팀 관리</a></span>
                        <span><a class="btn btn-secondary" th:href="@{/team/{teamId}/userManage(teamId=${teamId})}">유저 관리</a></span>
                    </div>

                    <span class="font-size-big">가입 신청</span>
                    <table class="table fix-table">
                        <thead>
                            <tr class="table-dark">
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.isEmpty(waitingUsers)}">
                                <td>가입 신청이 없습니다</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr th:each="waitingUser : ${waitingUsers}">
                                <td th:text="${waitingUser.userName}"></td>
                                <td th:text="${waitingUser.userEmail}"></td>
                                <td><button class="btn btn-secondary btn-sm approval-button" th:data-waiting-user-id="${waitingUser.userId}">승인</button> </td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="font-size-big mt-3">팀원 관리</span>
                    <table class="table fix-table">
                        <thead>
                            <tr class="table-dark">
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="teamUser : ${teamUsers}">
                                <td th:text="${teamUser.userName}"></td>
                                <td th:text="${teamUser.userEmail}"></td>
                                <td><button class="btn btn-close btn-sm block-button" th:data-join-user-id="${teamUser.userId}"></button> </td>
                                <td><button class="btn btn-primary btn-sm master-transfer-button" th:data-team-user-id="${teamUser.userId}">마스터 이전</button> </td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="font-size-big mt-3">차단 목록</span>
                    <table class="table fix-table">
                        <thead>
                            <tr class="table-dark">
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.isEmpty(blockUsers)}">
                                <td>차단 회원이 없습니다</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr th:each="blockUser : ${blockUsers}">
                                <td th:text="${blockUser.userName}"></td>
                                <td th:text="${blockUser.userEmail}"></td>
                                <td><button class="btn btn-close btn-sm unblock-button" th:data-block-user-id="${blockUser.userId}"></button> </td>

                            </tr>
                        </tbody>
                    </table>

                </div>

            </main>

        </div>

        <script th:inline="javascript">
            $(document).ready( ()=>{
                $('.approval-button').click( function() {
                    var waitingUserId = $(this).data('waiting-user-id');
                    var teamId = [[${teamId}]];
                    $.ajax({
                        type: "POST",
                        url: "/team/approval?teamId=" + teamId + "&waitingUserId=" + waitingUserId,
                        success: ()=>{
                            alert("가입 승인 성공");
                        },
                        error: (xhr, status, error) =>{
                            alert("가입 승인 실패");
                        }
                    });
                });
            });

            $(document).ready( ()=>{
                $('.block-button').click( function() {
                    var teamUserId = $(this).data('join-user-id');
                    var teamId = [[${teamId}]];
                    $.ajax({
                        type: "GET",
                        url: "/team/block?teamId=" + teamId + "&teamUserId=" + teamUserId,
                        success: ()=>{
                            alert("회원 차단 성공");
                        },
                        error: (xhr, status, error) =>{
                            alert("회원 차단 실패");
                        }
                    });
                });
            });

            $(document).ready( ()=>{
                $('.unblock-button').click( function() {
                    var teamUserId = $(this).data('block-user-id');
                    var teamId = [[${teamId}]];
                    $.ajax({
                        type: "GET",
                        url: "/team/unblock?teamId=" + teamId + "&teamUserId=" + teamUserId,
                        success: ()=>{
                            alert("회원 차단해제 성공");
                        },
                        error: (xhr, status, error) =>{
                            alert("회원 차단해제 실패");
                        }
                    });
                });
            });

            $(document).ready( ()=> {
                $('.master-transfer-button').click( function() {
                    var userId = $(this).data('team-user-id');
                    var teamId = [[${teamId}]];
                    $.ajax({
                        type: "GET",
                        url: `/team/${teamId}/userManage/masterTransfer?newMasterId=${userId}`,
                        success: ()=>{
                            alert("마스터 이전 성공");
                            window.location.href = "/team/" + teamId;
                        },
                        error: (xhr, status, error) => {
                            alert("마스터 이전 실패");
                        }
                    });
                });
            });



        </script>

        <script th:replace="~{fragments/commonSetting :: boots-js}"></script>

    </body>

</html>