<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commonSetting :: head}">
    </head>

    <body>
        <div class="d-flex full-size">
            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="full-size">
                <div class="mt-5 ms-5">
                    <a class="font-size-big font-fix-black" th:text="${team.teamName}" th:href="@{/team/{teamId}(teamId = ${teamId})}">
                    </a>
                    <div>
                        <span><a class="btn btn-secondary" th:href="@{/team/{teamId}/teamManage(teamId=${teamId})}">팀 관리</a></span>
                        <span><a class="btn btn-secondary" th:href="@{/team/{teamId}/userManage(teamId=${teamId})}">유저 관리</a></span>
                    </div>
                    <div class="font-size-middle mt-3">
                        <span>팀 가입 링크: </span>
                        <span id="join-link" th:text="'/team/join?teamId=' + ${teamId}"></span>
                        <span class="ms -2"><i class="bi bi-copy" id="copy-button" style="cursor: pointer;"></i></span>
                    </div>
                    <form th:action="@{/team/{teamId}/teamManage(teamId = ${team.teamId})}" method="POST">
                        <label for="inputTeamName" class="form-label font-size-middle mt-3">팀 이름</label>
                        <input type="text" class="form-control mt-2" id="inputTeamName" th:value="${team.teamName}" name="teamName" required>
                        <label for="inputTeamDescription" class="form-label font-size-middle mt-3">설명</label>
                        <textarea class="form-control mt-2" id="inputTeamDescription" th:text="${team.teamDescription}" rows="3" name="teamDescription" required></textarea>
                        <div class="mt-3">
                            <input type="radio" class="btn-check" name="isPublic" id="radio1" autocomplete="off" value="true" th:checked="${team.isPublic == true}">
                            <label class="btn" for="radio1">공개</label>
                            <input type="radio" class="btn-check" name="isPublic" id="radio2" autocomplete="off" value="false" th:checked="${team.isPublic == false}">
                            <label class="btn" for="radio2">비공개</label>
                        </div>

                        <button type="submit" class="btn btn-dark mt-5">팀 정보 수정</button>
                    </form>

                    <div class="mt-3">
                        <button class="btn btn-danger" th:attr="data-team-id=${teamId}" onclick="deleteTeam(this)">팀 해산</button>
                    </div>
                </div>

            </main>

        </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    주소가 복사되었습니다
                </div>
            </div>
        </div>

        <script th:replace="~{fragments/commonSetting :: boots-js}"></script>

        <script th:inline="javascript">
            document.getElementById('copy-button').addEventListener('click', function() {
                var linkText = document.getElementById('join-link').innerText;

                var tempInput = document.createElement('input');
                tempInput.value = linkText;
                document.body.appendChild(tempInput);

                tempInput.select();
                document.execCommand('copy');

                document.body.removeChild(tempInput);

                var toastEl = document.getElementById('toast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        </script>
        <script src="/js/DeleteTeam.js"></script>

    </body>

</html>