<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commonSetting :: head}">
</head>
<body>
<div class="mt-3 ms-2" id="passwordPopup">
        <div class="row g-3 align-items-center font-size-middle">
            <div class="col-auto">
                <label for="inputPassword" class="col-form-label">현재 비밀번호 : </label>
            </div>
            <div class="col-auto">
                <input  type="password" id="inputPassword"class="form-control">
            </div>
            <div class="col-auto">
                <button class="btn btn-dark" onclick="verifyPassword()">확인</button>
            </div>
        </div>
</div>

<script th:inline="javascript">
    function verifyPassword() {
        const currentPassword = document.getElementById('inputPassword').value;

        fetch('/verifyPassword', {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({currentPassword})
        })
        .then(response => {
            if(response.ok) {
                window.location.href = '/changePassword';
            } else {
                alert('비밀번호를 잘못 입력하셨습니다');
            }
        });
    }
</script>
</body>
</html>