<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commonSetting :: head}">
    </head>

    <body>
        <div class="d-flex full-size">
            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="full-size">
                <div class="mt-5 ms-5 d-flex flex-row">
                    <div class="fix-width-middle">
                        <a class="font-size-big font-fix-black" th:text="${teamName}" th:href="@{/team/{teamId}(teamId = ${teamId})}"></a>

                        <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                            <div class="d-flex align-items-center">
                                <span class="font-size-big" th:text="${eventDetail.eventName}"></span>
                                <a class="btn btn-dark ms-1" th:href="@{/team/{teamId}/imageBoard(teamId=${teamId}, eventId=${eventDetail.eventId})}">사진 게시판</a>
                            </div>
                            <div th:if="${isWriter}">
                                <a class="btn btn-secondary" th:href="@{/team/{teamId}/eventEdit(teamId = ${teamId}, eventId=${eventDetail.eventId})}">수정</a>
                                <button class="btn btn-secondary" th:attr="data-team-id=${teamId}, data-event-id=${eventDetail.eventId}" onclick="deleteEvent(this)">삭제</button>
                            </div>
                        </div>
                        <hr>
                        <div class="mt-3">
                            <span class="font-size-middle">등록 유저: </span>
                            <span class="font-size-middle" th:text="${eventDetail.userName}"></span>
                        </div>
                        <hr>
                        <div class="mt-2">
                            <span class="font-size-middle">날짜 및 시간: </span>
                            <span class="font-size-middle" th:text="${#temporals.format(eventDetail.eventStart, 'yyyy-MM-dd HH:mm')}"></span>
                            <span class="font-size-middle"> ~ </span>
                            <span class="font-size-middle" th:text="${#temporals.format(eventDetail.eventEnd, 'MM-dd HH:mm')}"></span>
                        </div>
                        <hr>
                        <div class="mt-2" >
                            <span class="font-size-middle">장소: </span>
                            <span class="font-size-middle" th:text="${eventDetail.eventPlace}"></span>
                        </div>
                        <hr>
                        <div class="mt-2 font-size-middle">설명</div>
                        <div class="font-size-middle mt-2" th:text="${eventDetail.eventContent}"></div>
                    </div>
                    <div class="fix-width-short ms-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="font-size-middle">참여 여부</span>
                            <span>
                                <input type="checkbox" class="btn-check" id="userParticipation" th:checked="${userParticipate == true}" th:disabled="${participateDisable}">
                                <label class="btn btn-outline-dark ms-1" for="userParticipation">참가</label>
                            </span>
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr class="table-dark">
                                    <th>#</th>
                                    <th>이름</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="participant, iterStat : ${participants}">
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="${participant.userName}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>

        <script th:inline="javascript">
            $(document).ready( ()=> {
                $('#userParticipation').change( ()=>{
                    var isChecked = $('#userParticipation').is(':checked');
                    var teamId = [[${teamId}]];
                    var eventId = [[${eventDetail.eventId}]];

                    $.ajax({
                        url: '/event/participate',
                        type: isChecked ? 'POST' : 'DELETE',
                        data: JSON.stringify({
                            eventId: eventId
                        }),
                        contentType: "application/json",
                        success: () =>{
                            alert('참여여부 변경 성공');
                        },
                        error: (xhr, status, error) =>{
                            alert('참여여부 변경 실패');
                        }
                    });
                });
            });
        </script>
        <script src="/js/DeleteEvent.js"></script>
        <script th:replace="~{fragments/commonSetting :: boots-js}"></script>
    </body>

</html>