<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commonSetting :: head}">
    </head>

    <body>
        <div class="d-flex full-size">
            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="full-size">
                <div class="mt-5 ms-5 fix-width-long">
                    <div class="font-size-big" th:text="${teamName}"></div>
                    <div class="d-flex flex-row">
                        <span class="font-size-big" th:text="${eventName}"></span>
                        <button class="btn btn-secondary ms-3" id="addImageButton">이미지 추가</button>
                        <input type="file" id="imageInput" multiple style="display:none;" onchange="uploadImages()">
                    </div>
                    <div th:if="${#lists.isEmpty(imageList)}">
                        <div class="font-size-big mt-5">등록된 이미지가 없습니다.</div>
                    </div>

                    <div class="row row-cols-5 g-3 mt-5">
                        <div th:each="image:${imageList}" class="col">
                            <div class="card">
                                <div class="image-container">
                                        <img th:src="${image.imageUrl}" class="card-img-top fix-card-img-size">
                                        <button class="btn btn-sm btn-close delete-button" th:data-image-id="${image.imageId}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>

        <div id="imagePopup" class="image-popup">
            <span class="close">&times;</span>
            <img class="popup-content" id="popupImg">
            <div class="popup-captions" id="captions"></div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>


        <script th:inline="javascript">
            function uploadImages() {
                var files = document.getElementById('imageInput').files;
                var formData = new FormData();

                for(var i =0; i < files.length; i++){
                    formData.append("images", files[i]);
                }

                var teamId = /*[[${teamId}]]*/ 'teamId';
                var eventId = /*[[${eventId}]]*/ 'eventId';

                formData.append('teamId', teamId);
                formData.append('eventId', eventId);

                fetch('/uploadImage', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if(response.ok){
                        return response.json();
                    } else {
                        throw new Error('에러 발생');
                    }
                })
                .then(data => {
                    console.log(data);
                    window.location.reload();
                })
                .catch(error => console.error('Error:', error));
            }

            document.getElementById('addImageButton').addEventListener('click', function () {
                document.getElementById('imageInput').click();
            });

            $(document).ready( ()=>{
                $('.delete-button').click( function() {
                    var imageId = $(this).data('image-id');

                    $.ajax({
                        method: 'DELETE',
                        url: "/deleteImage/" + imageId,
                        success: ()=>{
                            alert("삭제성공");
                        },
                        error: (xhr, status, error) =>{
                            alert("삭제 실패");
                        }
                    });
                });
            });


            document.addEventListener("DOMContentLoaded", function() {
                let images = document.querySelectorAll('.card-img-top');
                let popup = document.getElementById('imagePopup');
                let popupImg = document.getElementById('popupImg');
                let currentIndex = 0;

                images.forEach((img, index) => {
                    img.onclick = function() {
                        popup.style.display = "block";
                        popupImg.src = this.src;
                        currentIndex = index;
                    }
                });

                popupImg.onclick = function() {
                    window.open(popupImg.src, '_blank');
                }

                document.querySelector('.close').onclick = function() {
                    popup.style.display = "none";
                }

                document.querySelector('.next').onclick = function() {
                    currentIndex = (currentIndex + 1) % images.length;
                    popupImg.src = images[currentIndex].src;
                }

                document.querySelector('.prev').onclick = function() {
                    currentIndex = (currentIndex + images.length - 1) % images.length;
                    popupImg.src = images[currentIndex].src;
                }
            });
        </script>
        <script th:replace="~{fragments/commonSetting :: boots-js}"></script>
    </body>

</html>